<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="Data: %d{yyyy-MM-dd HH:mm:ss}, Level - %-5level: %nClass - %c.%n%msg %n"/>
        </Console>

        <File name="FileLogger" fileName="logs/logs.log">
            <PatternLayout charset="UTF-8" pattern="Data: %d{yyyy-MM-dd HH:mm:ss}, Level - %-5level: %nClass - %c.%n%msg %n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>